// ADD PREDEFINED MACROS HERE!

//Original fuse settings
//Reading fuse bits: ./avrdude -p m328p -c avrispmkII -C ./avrdude.conf -P usb -U lfuse:r:-:h -U hfuse:r:-:h -U efuse:r:-:h -U lock:r:-:h
//lfuse: 0xFF
//hfuse: 0xD6
//efuse: 0x05

//Writing fuse bits: ./avrdude -p m328p -c avrispmkII -C ./avrdude.conf -P usb -U efuse:w:0xfe:m
//efuse: 0x06 (Brown Out Detection Level on 1.8V)
